# Excluir o diretório vendor gerado pelo composer
/app-web/vendor/
/app-web2/vendor/
/microservice-symfony/vendor/
/microservice-php/vendor/
/app-gestao-om/vendor/


# Certificados
/app-web/exemplo_jwt/*.pem
/app-web/*.pem
/app-web2/*.pem
/microservice-symfony/*.pem
/microservice-php/*.pem

# Variáveis de ambiente e secret (que não pode ser versionado)
/app-web/.env
/app-web2/.env
/app-gestao-om/.env.local