# Excluir o diretório vendor gerado pelo composer
/app-web/vendor/
/app-web2/vendor/
/app-symfony/vendor/
/microservice1/vendor/

# Certificados
/app-web/exemplo_jwt/*.pem

# Variáveis de ambiente e secret (que não pode ser versionado)
/app-web/.env
/app-web2/.env