{% extends 'base.html.twig' %}

{% block title %}Nova OrganizacaoMilitar{% endblock %}

{% block body %}
    <h1>Create new OrganizacaoMilitar</h1>

    {{ include('organizacao_militar/_form.html.twig') }}

    <a href="{{ path('app_organizacao_militar_index') }}">back to list</a>
{% endblock %}
